@model IEnumerable<DOANCuoiKyNET.Entities.LoaiSP>

@{
    ViewData["Title"] = "LoaisController";
    Layout = "_BackEndAdmin";
}

<h1>LoaisController</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenLoaiSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metaTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngayCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenLoaiSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metaTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.emailUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idLoaiSP">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idLoaiSP">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idLoaiSP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
