@model IEnumerable<DOANCuoiKyNET.Entities.MaGiamGia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codeMGG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenMGG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.giaTri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngayCapNhat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codeMGG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenMGG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giaTri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayCapNhat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.codeMGG">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.codeMGG">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.codeMGG">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
