@model DOANCuoiKyNET.Entities.Banner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Banner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idBanner">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
